@charset "utf-8";
.main1 {
    color: #88CAEF;
    font-style: oblique;
    font-size: larger;
    text-align: left;
    -webkit-box-shadow: 27px -26px 10px;
    box-shadow: 27px -26px 10px;
}
.title1 {
    color: #20B148;
    font-style: italic;
    font-weight: 300;
    font-size: xx-large;
}
